@{
    ViewBag.Title = "AAR (Afer Action Review)";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><span style="font-size: 12pt; color: #008000;"><strong>AAR (Afer Action Review)</strong></span></p>
        <p><span style="font-size: 10pt; color: #008000;"><strong><span class="title">AAR (After Action Review) คือ</span></strong></span></p>
        <p style="padding-left: 30px;">= &nbsp;การเรียนรู้ก่อนดำเนินการ<br />= &nbsp;เรียนรู้ระหว่างทำงาน<br />=&nbsp; เรียนรู้หลังทำงาน</p>
        <p>&nbsp;</p>
        <p><span style="color: #008000; font-size: 10pt;"><strong><span class="title">AAR หรือ After Action Review :</span></strong></span></p>
        <p style="padding-left: 30px;">หรือชื่อภาษาไทยว่า &ldquo;เรียนรู้ระหว่างทำงาน&rdquo; ขั้น ตอนหนึ่งในวงจรการทำงานเป็นการทบทวนวิธีการทำงานทั้งด้านความสำเร็จและ<br />ปัญหาที่เกิดขึ้นทั้งนี้ไม่ใช่เพื่อค้นหาคนที่ทำผิดพลาด ไม่ใช่การกล่าวโทษใครทั้งสิ้น แต่เป็นการทบทวนเพื่อแลกเปลี่ยนประสบการณ์การทำงาน เพื่อแก้ปัญหาที่เกิดขึ้น<br />ไม่ให้เกิดปัญหานี้ขึ้นอีก ในขณะเดียวกันก็คงไว้ซึ่งวิธีการที่ดีอยู่แล้ว<br /><br /></p>
        <p><strong><span class="title" style="font-size: 10pt; color: #008000;">AAR</span></strong></p>
        <p style="padding-left: 30px;">มิใช่ ครั้งแรกในกองทัพของสหรัฐอเมริกาเมื่อประมาณปี ๑๙๗๐ โดยมีวัตถุประสงค์ในขณะนั้นเพื่อพัฒนาศักยภาพของกองทัพ&nbsp;แก้ไขช่องโหว่ที่อาจทำให้เป็นรองฝ่ายตรงข้ามหรือทำให้สูญเสียทหารฝีมือดีใน การทำศึกสงคราม และสิ่งสำคัญคือได้ฝึกการทำงานเป็นทีมไปพร้อมกันด้วย จนกระทั่ง ปี ๑๙๙๐<br />ภาคธุรกิจซึ่งเป็นภาคส่วนที่มีภาวะการแข่งขันสูงและแข่งขันตลอดเวลาเพื่อ ความอยู่รอดขององค์กร ได้เริ่มทำเทคนิคนี้มาใช้ในการทำงานเพื่อพัฒนาองค์กร<br />เพื่อส่วนครองตลาดที่สูงขึ้นหรือเพื่อกำไรที่มากขึ้น ซึ่งจุดนี้เองที่ทำให้เทคนิคนี้ได้รับความสนใจอย่างมากมายและต่อเนื่องมาจนถึงปัจจุบัน</p>
    </div>
</body>
</html>
