@{
    ViewBag.Title = "องค์ประกอบ";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><span style="font-size: 12pt; color: #008000;"><strong>องค์ประกอบสำคัญของการจัดการความรู้ (Knowledge Process)</strong></span></p>
        <p style="padding-left: 30px;"><span class="detail_text">1. &ldquo;คน&rdquo; ถือว่าเป็นองค์ประกอบที่สำคัญที่สุดเพราะเป็นแหล่งความรู้ และเป็นผู้นำความรู้ไปใช้ให้เกิดประโยชน์<br />2.&ldquo;เทคโนโลยี&rdquo; เป็นเครื่องมือเพื่อให้คนสามารถค้นหา จัดเก็บ แลกเปลี่ยน รวมทั้งนำความรู้ไปใช้อย่างง่าย และรวดเร็วขึ้น</span><span class="title"><br /></span><span class="detail_text">3. &ldquo;กระบวนการความรู้&rdquo; นั้น เป็นการบริหารจัดการ เพื่อนำความรู้จากแหล่งความรู้ไปให้ผู้ใช้ เพื่อทำให้เกิดการปรับปรุง และนวัตกรรม </span><span class="title"><br /></span><br />องค์ประกอบทั้ง 3 ส่วนนี้ จะต้องเชื่อมโยงและบูรณาการอย่างสมดุล&nbsp;จากพระราชกฤษฎีกาว่าด้วยหลักเกณฑ์และวิธีการบริหารกิจการบ้านเมืองที่ดี พ.ศ.2546<br />กำหนดให้ส่วนราชการมีหน้าที่พัฒนาความรู้ในส่วนราชการ เพื่อให้มีลักษณะเป็นองค์กรแห่งการเรียนรู้อย่างสม่ำเสมอ โดยต้องรับรู้ข้อมูลข่าวสารและสามารถ<br />ประมวลผลความรู้ในด้านต่าง ๆ เพื่อนำมาประยุกต์ใช้ในการปฏิบัติราขการได้อย่างถูกต้อง รวดเร็วและเหมะสมต่อสถานการณ์ <br />รวมทั้งต้องส่งเสริมและพัฒนาความรู้ ความสามารถ สร้างวิสัยทัศน์ และปรับเปลี่ยนทัศนคติของข้าราชการในสังกัดให้เป็นบุคลากร<br />ที่มีประสิทธิภาพและมีการเรียนรู้ร่วมกัน</p>
    </div>
</body>
</html>
