@{
    ViewBag.Title = "ความเป็นมา";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><strong><span style="font-size: 12pt; color: #008000;">ความเป็นมา</span></strong></p>
        <p style="padding-left: 30px;"><span style="color: #000000;">สืบเนื่องจาก มาตรา ๑๑ ของพระราชกฤษฎีกาว่าด้วยหลักเกณฑ์และวิธีการบริหารกิจการบ้านเมืองที่ดี พ.ศ. ๒๕๔๖</span><br /><span style="color: #000000;"> เพื่อให้มีลักษณะเป็นองค์กรแห่งการเรียนรู้อย่างสม่ำเสมอ</span><br /><span style="color: #000000;"> โดยต้องรับรู้ข้อมูลข่าวสารและสามารถประมวลผลความรู้ในด้านต่างๆ เพื่อนำมาประยุกต์ใช้ในการปฏิบัติราชการได้อย่างถูกต้อง รวดเร็ว</span><br /><span style="color: #000000;"> และเหมาะสมต่อสถานการณ์ รวมทั้งต้องส่งเสริมและพัฒนาความรู้ ความสามารถ สร้างวิสัยทัศน์</span><br /><span style="color: #000000;"> และปรับเปลี่ยนทัศนคติของข้าราชการในสังกัด ให้เป็นบุคลากรที่มีประสิทธิภาพและมีการเรียนรู้ร่วมกัน</span><br /><span style="color: #000000;"> และเพื่อให้การพัฒนาความรู้ในส่วนราชการมีลักษณะเป็นองค์กรแห่งการเรียนรู้อย่างสม่ำเสมอ ตามมาตรา ๑๑</span><br /><span style="color: #000000;"> แห่งพระราชกฤษฎีกาว่าด้วยหลักเกณฑ์และวิธีการบริหารกิจการบ้านเมืองที่ดี พ.ศ. ๒๕๔๖</span></p>
        <p style="padding-left: 30px;"><span style="color: #000000;">คณะทำงานจัดการความรู้เพื่อสนับสนุนประเด็นยุทธศาสตร์ของ สำนักงานปลัดสำนักนายกรัฐมนตรี ประจำปีงบประมาณ ๒๕๕๔</span><br /><span style="color: #000000;"> ในการประชุมครั้งที่ ๑/๒๕๕๔ เมื่อวันที่ ๒๕ กุมภาพันธ์ ๒๕๕๔ ได้คัดเลือกให้ สำนักงานคณะกรรมการข้อมูลข่าวสารของราชการ</span><br /><span style="color: #000000;"> ดำเนินการจัดการความรู้เพื่อสนับสนุนประเด็นของ สำนักงานปลัดสำนักนายกรัฐมนตรี ยุทธศาสตร์ที่ ๒ คุ้มครองสิทธิเสรีภาพ</span><br /><span style="color: #000000;"> ส่งเสริมการบริหารราชการแผ่นดินแบบมีส่วนร่วม และกระจายอำนาจให้แก่องค์กรปกครองส่วนท้องถิ่น องค์ความรู้ด้านการกระจายอำนาจสู่ท้องถิ่น</span><br /><span style="color: #000000;"> โดยกำหนดตัวชี้วัดตามคำรับรองการปฏิบัติราชการ ที่ ๓.๑.๗ ร้อยละของจำนวนเรื่องร้องเรียนที่เกี่ยวกับพระราชบัญญัติข้อมูลข่าวสารของราชการ พ.ศ. ๒๕๔๐</span><br /><span style="color: #000000;"> ต่อคณะกรรมการข้อมูลข่าวสารฯ ที่ได้ดำเนินการจนได้ข้อยุติเสร็จภายในปีงบประมาณ เป็นตัวชี้วัดความสำเร็จของการจัดการความรู้ฯ พร้อมทั้งได้มี</span></p>
        <p><strong><span style="font-size: 12pt; color: #008000;">คำสั่งสำนักงานปลัดสำนักนายกรัฐมนตรี ที่ ๕๒/๒๕๕๔ ลงวันที่ ๒๔ มีนาคม ๒๕๕๔</span></strong><br /><strong><span style="font-size: 12pt; color: #008000;"> และคำสั่งที่ ๖๒/๒๕๕๔ ลงวันที่ ๑๑ เมษายน ๒๕๕๔</span></strong></p>
        <p style="padding-left: 30px;"><span style="color: #000000;">โดยกำหนดให้ KM Team สำนักงานคณะกรรมการข้อมูลข่าวสารของราชการมีอำนาจหน้าที่ในการจัดทำแผนการ</span><br /><span style="color: #000000;"> จัดการความรู้เพื่อสนับสนุนประเด็นยุทธศาสตร์คุ้มครองสิทธิเสรีภาพ ส่งเสริมการบริหาราชการแบบมีส่วนร่วมเป็นธรรมและโปร่งใส</span><br /><span style="color: #000000;"> และกระจายอำนาจให้แก่องค์กรปกครองส่วนท้องถิ่น ของสำนักงานปลัดสำนักนายกรัฐมนตรี ประจำปีงบประมาณ ๒๕๕๔</span><br /><span style="color: #000000;"> ดำเนินการตามแผนการจัดการความรู้ให้ดำเนินไปด้วยความเรียบร้อย มีประสิทธิภาพ และประสิทธิผล ตลอดจนดำเนินการอื่น ๆ ตามที่เห็นสมควร</span></p>
        <p style="padding-left: 30px;"><span style="color: #000000;">สำนักงานคณะกรรมการข้อมูลข่าวสารของราชการได้ดำเนินการตามแผนการจัดการ ความรู้ฯ</span><br /><span style="color: #000000;"> ตั้งแต่เริ่มดำเนินการ (วันที่ ๑ เมษายน ๒๕๕๔) ถึงวันที่ ๓๐ กันยายน ๒๕๕๔</span><br /><span style="color: #000000;"> ปรากฎตามรายละเอียดดังนี้</span></p>
    </div>
</body>
</html>
