@{
    ViewBag.Title = "กระบวนการจัดการความรู้";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><span style="color: #008000; font-size: 12pt;"><strong>กระบวนการจัดการความรู้ (Knowledge Management Process)</strong></span></p>
        <p style="padding-left: 30px;">เป็นกระบวนการแบบหนึ่งที่จะช่วยให้องค์กรเข้าใจถึงขั้นตอนที่ทำให้เกิดกระบวนการจัดการความรู้&nbsp; <br />หรือพัฒนาการของความรู้ที่จะเกิดขึ้นภายในองค์กร ประกอบด้วย 7 ขั้นตอน ดังนี้<br /><br />1) การบ่งชี้ความรู้ เช่นพิจารณาว่า วิสัยทัศน์/ พันธกิจ/ เป้าหมาย คืออะไร และเพื่อให้บรรลุเป้าหมาย <br />เราจำเป็นต้องรู้อะไร ขณะนี้เรามีความรู้อะไรบ้าง อยู่ในรูปแบบใด อยู่ที่ใคร<br />2) การสร้างและแสวงหาความรู้&nbsp; เช่นการสร้างความรู้ใหม่ แสวงหาความรู้จากภายนอก รักษาความรู้เก่า กำจัดความรู้ที่ใช้ไม่ได้แล้ว<br />3) การจัดความรู้ให้เป็นระบบ&nbsp; เป็นการวางโครงสร้างความรู้ &nbsp;เพื่อเตรียมพร้อมสำหรับการเก็บความรู้ อย่างเป็นระบบในอนาคต<br />4) การประมวลและกลั่นกรองความรู้&nbsp; เช่นปรับปรุงรูปแบบเอกสารให้เป็นมาตรฐาน ใช้ภาษาเดียวกัน ปรับปรุงเนื้อหาให้สมบูรณ์<br />5) การเข้าถึงความรู้ เป็นการทำให้ผู้ใช้ความรู้นั้นเข้าถึงความรู้ที่ต้องการได้ง่ายและสะดวก เช่น ระบบเทคโนโลยีสารสนเทศ (IT) <br />Web board บอร์ดประชาสัมพันธ์ เป็นต้น<br />6) การแบ่งปันแลกเปลี่ยนความรู้ ทำได้หลายวิธีการ โดยกรณีเป็น Explicit Knowledge อาจจัดทำเป็น เอกสาร ฐานความรู้ <br />เทคโนโลยีสารสนเทศ หรือกรณีเป็น Tacit Knowledge อาจจัดทำเป็นระบบ ทีมข้ามสายงาน กิจกรรมกลุ่มคุณภาพและนวัตกรรม ชุมชนแห่งการเรียนรู้ <br />ระบบพี่เลี้ยง การสับเปลี่ยนงาน การยืมตัว เวทีแลกเปลี่ยนความรู้ เป็นต้น<br />7) การเรียนรู้ ควรทำให้การเรียนรู้เป็นส่วนหนึ่งของงาน เช่นเกิดระบบการเรียนรู้จาก สร้างองค์ความรู้ นำความรู้ไปใช้ เกิดการเรียนรู้และประสบการณ์ใหม่ <br />และหมุนเวียนต่อไปอย่างต่อเนื่อง</p>
    </div>
</body>
</html>
