@{
    ViewBag.Title = "ขันตอนการจัดการ";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><span style="font-size: 12pt; color: #008000;"><strong>ขั้นตอนการจัดการความรู้</strong></span></p>
        <p style="padding-left: 30px;"><span class="detail_text">ความรู้จำแนกเป็น 2 ประเภทใหญ่ๆ คือ ความรู้ที่ฝังอยู่ในคน (Tacit Knowledge) และความรู้ที่ชัดแจ้ง (Explicit Knowledge) <br />ความรู้ที่ฝังอยู่ในคนคือ ประสบการณ์ ทักษะ พรสวรรค์ เทคนิค การทำงานที่สั่งสมมาจนชำนาญไม่มีในตำรา ส่วนความรู้ที่ชัดแจ้งคือ ความรู้ที่สามารถจับต้องได้ เช่น หนังสือ เอกสาร <br />รายงาน ซีดี เทป เป็นต้น เมื่อเทียบความรู้ 2 ประเภทแล้ว พบว่า อัตราความรู้ที่ฝังอยู่ในคนมากกว่าความรู้ที่ชัดแจ้งเป็น อัตราส่วน 80 : 20 คงพอทราบคร่าวๆแล้วว่า ความรู้คืออะไร <br />มีกี่ประเภท ตอนนี้จะขอเล่าถึงวิธีการจัดการความรู้ให้เป็นระบบ ให้บุคลากรสามารถ นำความรู้นั้นมาใช้ ทำงานได้อย่างมีประสิทธิภาพได้ ในปี 2549 เมื่อสถาบันเพิ่มผลผลิตแห่งชาติ <br />มาวางระบบเรื่องนี้ ีให้สำนักงาน ก.พ.ร. ทำให้ส่วนราชการมีการจัดการความรู้ตามขั้นตอนที่เป็นระบบ โดยเริ่มจาก</span></p>
        <p><span class="detail_text"><span class="title" style="font-size: 12pt; color: #008000;"><strong>ขั้นตอนที่ 1 การบ่งชี้ความรู้</strong> </span></span></p>
        <p style="padding-left: 30px;"><span class="detail_text">หน่วยงานต้องสำรวจความรู้ที่บุคลากรจำเป็นต้องใช้เพื่อให้การทำงานบรรลุเป้าหมาย โดยสำรวจว่า เราต้องการความรู้อะไร และที่มีอยู่เพียงพอหรือไม่</span></p>
        <p class="detail_text"><span class="title" style="font-size: 12pt; color: #008000;"><strong>ขั้นตอนที่ 2 การสร้างและแสวงหาความรู้</strong> </span></p>
        <p class="detail_text" style="padding-left: 30px;">เมื่อสำรวจแล้วเห็นว่าความรู้ที่มีอยู่ไม่เพียงพอ ก็ต้องไปแสวงหามาเพิ่มเติมให้ได้ครบถ้วนสมบูรณ์ มากที่สุด</p>
        <p class="detail_text"><span class="title" style="font-size: 12pt; color: #008000;"><strong>ขั้นตอนที่ 3 การจัดการความรู้ให้เป็นระบบ</strong> </span></p>
        <p class="detail_text" style="padding-left: 30px;">เมื่อได้ความรู้มาเพียงพอแล้วก็นำมาจัดหมวดหมู่ให้ชัดเจน และจัดเก็บไว้ในรูปแบบต่างๆ ทั้ง เอกสาร หนังสือ เทป วีซีดี เป็นต้น</p>
        <p class="detail_text"><span style="font-size: 12pt; color: #008000;"><strong><span class="title">ขั้นตอนที่ 4 การประมวลและกลั่นกรองความรู้</span></strong></span></p>
        <p class="detail_text" style="padding-left: 30px;">ต้องนำความรู้ที่จัดเก็บเป็นหมวดหมู่ไว้แล้วมาทบทวน กลั่นกรอง ให้มีความทันสมัย</p>
        <p class="detail_text"><span class="title" style="font-size: 12pt; color: #008000;"><strong>ขั้นตอนที่ 5 การเข้าถึงความรู้</strong> </span></p>
        <p class="detail_text" style="padding-left: 30px;">ต้องมีการจัดช่องทางเผยแพร่ความรู้ทางช่องทางต่างๆ ที่หลากหลาย เพื่อให้บุคลากรสามารถเข้าถึง ความรู้ได้สะดวก รวดเร็ว และทั่วถึง</p>
        <p class="detail_text"><span class="title" style="font-size: 12pt; color: #008000;"><strong>ขั้นตอนที่ 6 การแบ่งปันแลกเปลี่ยนความรู้</strong> </span></p>
        <p class="detail_text" style="padding-left: 30px;">จัดกิจกรรมให้บุคลากรมีการแลกเปลี่ยนเรียนรู้ เช่น กิจกรรมชุมชนนักปฏิบัติ ( Community of Practice หรือ Cop.), การสอนงาน ( Coaching ) และระบบพี่เลี้ยง (Mentoring) เป็นต้น</p>
        <p class="detail_text"><span class="title" style="font-size: 12pt; color: #008000;"><strong>ขั้นตอนที่ 7 การเรียนรู้</strong> </span></p>
        <p class="detail_text" style="padding-left: 30px;">กำหนดให้บุคลากรในองค์กรต้องใช้ KM เข้ามาช่วยในการทำงานเพื่อผลงานที่มีประสิทธิภาพ โดย อาจกำหนดเป็นนโยบาย จากผู้บริหารขององค์กรก็ได้</p>
        <p>&nbsp;</p>
        <p style="padding-left: 30px;"><span class="detail_text">ขั้นตอนต่าง ๆ ทั้ง 7 ขั้นตอนนี้ เมื่อลงมือปฏิบัติจริงๆ ต้องใช้เวลาพอสมควร โดยเฉพาะในขั้นตอนที่ 7 เป็นขั้นตอนที่ต้องการให้เกิดขึ้นอย่างต่อเนื่องจริงจัง นั่นก็คือ <br />บุคลากรทุกคนต้องทำงานโดยมี KM อยู่ในสายเลือด โดยการทำงานที่ต้องใช้องค์ความรู้ที่ถูกต้อง ทันสมัย ครบถ้วน มาประกอบการ ปฏิบัติราชการในความรับผิดชอบทุกเรื่อง <br />แล้วงานที่ออกมาก็จะเกิดความผิดพลาดน้อยที่สุด หรือ ไม่เกิดความผิดพลาดเลย</span></p>
    </div>
</body>
</html>
