@{
    ViewBag.Title = "CoP (Community of Practice)";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><span style="font-size: 12pt; color: #008000;"><strong>รู้จักกับ&nbsp;CoP</strong></span></p>
        <p style="padding-left: 30px;">CoP ย่อมาจาก Community of Practice ซึ่งหมายถึง ชุมชนนักปฏิบัติ หรือ ชุมชนแห่งการเรียนรู้ที่รวบรวมกลุ่มคนที่มีความรู้ความสนใจในเรื่องเดียวกัน <br />มาร่วมแลกเปลี่ยน แบ่งปัน เรียนรู้ในเรื่องนั้น ๆ ร่วมกัน เพื่อได้มาซึ่ง Knowledge Assets : KA หรือ ขุมความรู้ ในเรื่องนั้น ๆ สำหรับคนในชุมชนเพื่อไปทดลองใช้ <br />แล้วนำผลที่ได้มาแลกเปลี่ยนเรียนรู้ระหว่างสมาชิก อันส่งผลให้ความรู้นั้น ๆ ถูกยกระดับขึ้นเรื่อย ๆ ผ่านการปฏิบัติ ประยุกต์ และปรับใช้ตามแต่สภาพแวดล้อม<br />และสถานการณ์ที่หลากหลาย อันทำให้งานบรรลุผลดีขึ้นเรื่อย ๆ</p>
        <p>&nbsp;</p>
        <p><span style="font-size: 12pt; color: #008000;"><strong><span class="title">ชุมชนนักปฏิบัติ (Community of Practice) คือ อะไร</span></strong></span></p>
        <p style="padding-left: 30px;">ชุมชนนักปฏิบัติ คือชุมชนที่มีการรวมตัวกันหรือเชื่อมโยงกันอย่างไม่เป็นทางการ มีวัตถุประสงค์เพื่อแลกเปลี่ยนเรียนรู้และสร้างองค์ความรู้ใหม่ ๆ<br />เพื่อช่วยให้การทำงานมีประสิทธิผลที่ดีขึ้น ส่วนใหญ่การรวมตัวกันในลักษณะนี้มักจะมาจากคนที่อยู่ในกลุ่มงานเดียวกันหรือมีความสนใจในเรื่องใดเรื่องหนึ่งร่วมกัน <br />ซึ่งความไว้วางใจและความเชื่อมั่นในการแลกเปลี่ยนข้อมูลระหว่างกันจะเป็นสิ่งที่สำคัญทำให้เพิ่มพูนความรู้ที่ลึกซึ้งขึ้นเรื่อยๆ โดยมีลักษณะทั่วไปดังนี้</p>
        <p>&nbsp;</p>
        <p style="padding-left: 30px;">&bull; สนใจในเรื่องเดียวกัน ต้องการแลกเปลี่ยนเรียนรู้และประสบการณ์ซึ่งกันและกัน <br />&bull; ประสบปัญหาลักษณะเดียวกัน และมีเป้าหมาย/ความมุ่งมั่นร่วมกันที่จะพัฒนาวิธีการทำงานให้ดีขึ้น <br />&bull; มีความร่วมมือช่วยเหลือเพื่อพัฒนาและเรียนรู้จากสมาชิกด้วยกันเอง <br />&bull; วิธีปฏิบัติ มีบทบาทในการสร้าง และใช้ความรู้ที่คล้ายกัน <br />&bull; มีช่องทางเพื่อการไหลเวียนของความรู้ ทำให้ความรู้เข้าไปถึงผู้ที่ต้องการใช้ได้ง่าย <br />&bull; มีปฏิสัมพันธ์ต่อเนื่อง มีวิธีการเพื่อเพิ่มความเข้มแข็งให้แก่กันในทางสังคม<br /><br />อย่างง่ายที่สุด ชุมชนนักปฏิบัติคือคนกลุ่มเล็กๆ ซึ่งทำงานด้วยกันมาระยะหนึ่ง มีเป้าหมายร่วมกัน และต้องการที่จะแบ่งปันแลกเปลี่ยนความรู้ <br />ประสบการณ์จากการทำงาน กลุ่มดังกล่าวมักจะไม่ได้เกิดจากการจัดตั้งโดยองค์การ แต่เป็นกลุ่มที่เกิดจากความต้องการทางสังคม <br />และความพยายามที่จะทำให้บรรลุผลสำเร็จ เป็นกลุ่มที่ไม่มีอำนาจ ไม่มีการกำหนดไว้ในแผนภูมิโครงสร้างองค์กร และอาจจะมีเป้าหมายที่ขัดแย้งกับผู้นำองค์กร<br />ในหนึ่งองค์กรอาจจะมีชุมชนนักปฏิบัติจำนวนมาก และคนคนหนึ่งจะเป็นสมาชิกในหลายชุมชน ชุมชนนักปฏิบัติมีความสำคัญอย่างไร เครือข่ายความสัมพันธ์ที่ไม่เป็นทางการ<br />เกิดจากความใกล้ชิด ความพอใจ และพื้นฐานที่ใกล้เคียงกัน ลักษณะที่ไม่เป็นทางการจะเอื้อต่อการเรียนรู้และการสร้างความรู้ใหม่ๆ มากกว่าโครงสร้างที่เป็นทางการ</p>
    </div>
</body>
</html>
