@{
    ViewBag.Title = "กระบวนการบริหารจัดการการเปลี่ยนแปลง";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p><span style="font-size: 12pt; color: #008000;"><strong>กระบวนการบริหารจัดการการเปลี่ยนแปลง (Change Management Process)</strong></span></p>
        <p style="padding-left: 30px;">เป็นกรอบความคิดแบบหนึ่งเพื่อให้องค์กรที่ต้องการจัดการความรู้ภายในองค์กร&nbsp;ได้มุ่งเน้นถึงปัจจัยแวดล้อมภายในองค์กร <br />ที่จะมีผลกระทบต่อการจัดการความรู้ ประกอบด้วย 6 องค์ประกอบ ดังนี้<br /><br />1) การเตรียมการและปรับเปลี่ยนพฤติกรรม เช่น กิจกรรมการมีส่วนร่วมและสนับสนุนจากผู้บริหาร (ที่ทุกคนมองเห็น) <br />โครงสร้างพื้นฐานขององค์กร ทีม/ หน่วยงานที่รับผิดชอบ &nbsp;มีระบบการติดตามและประเมินผล กำหนดปัจจัยแห่งความสำเร็จชัดเจน<br />2) การสื่อสาร เช่น กิจกรรมที่ทำให้ทุกคนเข้าใจถึงสิ่งที่องค์กรจะทำ ประโยชน์ที่จะเกิดขึ้นกับทุกคน แต่ละคนจะมีส่วนร่วมได้อย่างไร <br />3) กระบวนการและเครื่องมือ ช่วยให้การค้นหา เข้าถึง ถ่ายทอด และแลกเปลี่ยนความรู้สะดวกรวดเร็วขึ้น โดยการเลือกใช้กระบวนการและเครื่องมือ ขึ้นกับชนิดของความรู้ <br />ลักษณะขององค์กร (ขนาด สถานที่ตั้ง ฯลฯ) ลักษณะการทำงาน วัฒนธรรมองค์กร ทรัพยากร<br />4) การเรียนรู้ เพื่อสร้างความเข้าใจและตระหนักถึงความสำคัญและหลักการของการจัดการความรู้ <br />โดยการเรียนรู้ต้องพิจารณาถึง เนื้อหา กลุ่มเป้าหมาย วิธีการ การประเมินผลและปรับปรุง<br />5) การวัดผล เพื่อให้ทราบว่าการดำเนินการได้บรรลุเป้าหมายที่ตั้งไว้หรือไม่ มีการนำผลของการวัดมาใช้ในการปรับปรุงแผนและการดำเนินการให้ดีขึ้น<br />มีการนำผลการวัดมาใช้ในการสื่อสารกับบุคลากรในทุกระดับให้เห็นประโยชน์ของการจัดการความรู้ และการวัดผลต้องพิจารณาด้วยว่าจะวัดผลที่ขั้นตอนไหนได้แก่ <br />วัดระบบ (System) วัดที่ผลลัพธ์ (Out put) หรือวัดที่ประโยชน์ที่จะได้รับ (Out come)<br />6) การยกย่องชมเชยและให้รางวัล เป็นการสร้างแรงจูงใจให้เกิดการปรับเปลี่ยนพฤติกรรมและการมีส่วนร่วมของบุคลากรในทุกระดับ โดยข้อควรพิจารณาได้แก่<br />ค้นหาความต้องการของบุคลากร แรงจูงใจระยะสั้นและระยะยาว บูรณาการกับระบบที่มีอยู่ ปรับเปลี่ยนให้เข้ากับกิจกรรมที่ทำในแต่ละช่วงเวลา</p>
    </div>
</body>
</html>
