@{
    ViewBag.Title = "เอกสารเผยแพร่";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/km.css" rel="stylesheet" />
</head>
<body>
    <div>
        @ViewBag.Title
    </div>
    <div id="kmdiv">
        <form action="~/Project_Readme.html">
            <input name="q" />
            <input type="submit" value="go" />
        </form>
    </div>
</body>
</html>
